FileDaemon {
  Name = {{ client_name }}-fd
  FDport = {{ bacula_fd_port }}                  # where we listen for the director
  WorkingDirectory = "/var/lib/bacula"
  Pid Directory = "/var/run/bacula"
  Maximum Concurrent Jobs = 2
}

# List Directors who are permitted to contact this File daemon
Director {
  Name = {{ dir_name }}
  Password = {{ client_password }}
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = {{ dir_name }} = all, !skipped, !restored
}
